@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  font-family: Bangers, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: #DFD9D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  gap: 60px;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.header {
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 170vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2.5em;
  position: relative;
}
.header .header__nav {
  display: flex;
  flex-wrap: wrap;
  height: 4em;
  gap: 30px;
}
.header .header__nav .header__logo {
  font-size: 3.5em;
  position: relative;
  letter-spacing: 5px;
  z-index: 0;
  margin: auto;
}
.header .header__nav .header__logo::before, .header .header__nav .header__logo::after {
  content: "WIGZ";
  position: absolute;
  top: 0;
  left: 0;
}
.header .header__nav .header__logo::before {
  color: #ce638c;
  transform: translate(6px);
  z-index: -1;
}
.header .header__nav .header__logo::after {
  color: #a7496d;
  transform: translate(12px);
  z-index: -2;
}
.header .header__nav .nav__list {
  margin: auto;
  height: 4em;
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header .header__nav .nav__list .nav__item {
  text-align: end;
  transition: all 0.2s;
}
.header .header__nav .nav__list .nav__item:hover {
  color: #e2e2e2;
}
.header .header__nav .nav__list .nav__item:active {
  color: #d1d1d1;
  scale: 95%;
}
.header .header__nav .header__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3.3em;
  margin: auto 30px;
}
.header .header__nav .header__social .social__item {
  flex: 1;
}
.header .header__nav .header__social .social__item .social__link {
  display: block;
  width: 100%;
  font-size: 0.5em;
  background-color: #ce638c;
  border-color: #a7496d
  ;
  border-radius: 0.5em;
  border-width: 4px;
  border-style: solid;
  padding: 25px 60px;
  text-align: center;
  transition: all 0.2s;
}
.header .header__nav .header__social .social__item .social__link:hover {
  background-color: #0182e6;
  border-color: #72b6f1;
}
.header .header__nav .header__social .social__item .social__link:active {
  scale: 95%;
  background-color: #0272c9;
  border-color: #4ca3f0;
}

.main__section {
  width: 100%;
  max-width: 1190px;
  padding: 10px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.description .section__image {
  flex: 0 0 auto;
  width: auto;
  max-width: 90%;
}
.description .section__content {
  background-color: #ce638c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  border-radius: 0.5em;
  min-width: 500px;
  padding: 20px 40px;
  flex: 1;
}
.description .section__content .content__title {
  font-size: 1.5em;
}
.description .section__content .content__text {
  font-size: 0.33em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.pampanomics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.pampanomics .section__content {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1em;
  flex-wrap: wrap;
}
.pampanomics .section__content .content__list {
  color: #ce638c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.pampanomics .section__content .list__item .item__title {
  font-size: 1.1em;
}
.pampanomics .section__content .list__item .item__text {
  font-size: 0.8em;
}

.main__separator {
  height: 100px;
  width: 100vw;
  background-image: url("../images/separator.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  border: none;
  animation: 30s marque infinite linear;
}

@keyframes marque {
  from {
    background-position: 0vw 0;
  }
  to {
    background-position: 100vw 0;
  }
}
.contract {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
.contract .content__title {
  color: #ce638c;
  font-size: 1.4em;
  flex: 1;
  color: #ce638c;
  text-shadow: 10px 10px 0 white, 15px -10px 0 white, -15px 15px 0 white, -10px -10px 0 white, 10px 0px 0 white, 0px 10px 0 white, -10px 0px 0 white, 0px -10px 0 white; /* Сдвиг вверх */
  letter-spacing: 20px;
  text-align: center;
}
.contract .content__text {
  background-color: #ce638c;
  border-width: 8px;
  border-style: solid;
  border-color: #FFFFFF;
  padding: 30px 60px;
  font-size: 0.75em;
  border-radius: 1em;
}

.section__title {
  font-size: 1.8em;
  color: #ce638c;
  text-shadow: 10px 10px 0 white, 15px -10px 0 white, -15px 15px 0 white, -10px -10px 0 white, 10px 0px 0 white, 0px 10px 0 white, -10px 0px 0 white, 0px -10px 0 white; /* Сдвиг вверх */
  letter-spacing: 20px;
}

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 60px;
}
.community .section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.community .section__list .item__link {
  font-size: 0.65em;
  background-color: #ce638c;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-color: #a7496d;
  border-radius: 0.5em;
  border-width: 6px;
  border-style: solid;
  transition: all 0.2s;
}
.community .section__list .item__link:hover {
  background-color: #0182e6;
  border-color: #72b6f1;
}
.community .section__list .item__link:active {
  scale: 95%;
  background-color: #0272c9;
  border-color: #4ca3f0;
}

.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  max-width: 90vw;
}
.roadmap .section__content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  max-width: 90vw;
}
.roadmap .section__content .section__image {
  max-width: 90vw;
}
.roadmap .section__content .section__list {
  background-color: #ce638c;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 20px;
  border-radius: 0.5em;
  min-width: 490px;
  max-width: 90vw;
}
.roadmap .section__content .section__list .list__item {
  font-size: xx-large;
  padding: 20px 60px;
  text-align: center;
  background-color: #a7496d;
  border-radius: 2em;
}
.roadmap .section__content .section__list .list__item:nth-child(1) {
  align-self: flex-start;
  padding: 20px 90px;
}
.roadmap .section__content .section__list .list__item:nth-child(2) {
  align-self: flex-end;
  padding: 20px 90px;
}
.roadmap .section__content .section__list .list__item:nth-child(3) {
  align-self: flex-start;
}
.roadmap .section__content .section__list .list__item:nth-child(4) {
  align-self: flex-end;
}

.header_q {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #46a1f2;
  width: 100%;
  border-bottom: 20px solid #ce638c;
}
.header_q .header_q__logo {
  font-size: 3em;
  position: relative;
  letter-spacing: 5px;
  z-index: 0;
  margin: auto;
}
.header_q .header_q__logo::before, .header_q .header_q__logo::after {
  content: "WIG QUESTS";
  position: absolute;
  top: 0;
  left: 0;
}
.header_q .header_q__logo::before {
  color: #ce638c;
  transform: translate(6px);
  z-index: -1;
}
.header_q .header_q__logo::after {
  color: #a7496d;
  transform: translate(12px);
  z-index: -2;
}




.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer__logo {
  font-size: 4em;
  position: relative;
  letter-spacing: 5px;
  z-index: 0;
  margin: auto;
}
.footer .footer__logo::before, .footer .footer__logo::after {
  content: "WIGZ";
  position: absolute;
  top: 0;
  left: 0;
}
.footer .footer__logo::before {
  color: #ce638c;
  transform: translate(6px);
  z-index: -1;
}
.footer .footer__logo::after {
  color: #a7496d;
  transform: translate(12px);
  z-index: -2;
}

@media screen and (max-width: 814px) {
  .main {
    gap: 50px;
  }

  .wrapper .header .header__nav .header__social .social__link{
    font-size: 1.5rem;
  }

  .section__title,
  .contract .content__title {
    text-shadow: 4px 4px 0 #fff, 0px -2px 0 #fff, 0px 1px 0 #fff, 1px 1px 0 #fff
  }

  .description .section__content .content__text {
    font-size: 1.25rem;
  }

  .section__title, .contract .content__title {
    letter-spacing: 10px;
  }


  .wrapper {
    font-size: 50px;
  }
  .wrapper .header .header__nav .header__social .social__link {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 1235px) {
  .roadmap .section__content .section__list .list__item {
    font-size: xx-large;
    width: 100%;
    margin: 0 10px;
    text-align: center;
    background-color: #a7496d;
    border-radius: 2em;
  }
}
@media screen and (max-width: 700px) {
  .wrapper {
    font-size: 50px;
  }
  .wrapper .header .header__nav .header__logo {
    margin: 0 auto;
  }
  .wrapper .header .header__nav .header__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .wrapper .header .header__nav .header__social .social__link {
    width: 200px;
    margin: 0 auto;
    padding: 15px 10px;
  }
}
@media screen and (max-width: 486px) {
  .wrapper {
    font-size: 40px;
  }
  .wrapper .header .header__nav .header__logo {
    margin: 0 auto;
  }
  .wrapper .header .header__nav .header__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .wrapper .header .header__nav .header__social .social__link {
    width: 150px;
    margin: 0 auto;
    padding: 15px 10px;
  }
}
@media screen and (max-width: 490px) {
  .wrapper {
    font-size: 30px;
  }
  .wrapper .header {
    background-image: url(../images/header-bg-mobile.png);
    padding-top: 120px;
  }
  .wrapper .header .header__nav .header__logo {
    margin: 0 auto;
  }
  .wrapper .header .header__nav .header__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .wrapper .header .header__nav .header__social .social__link {
    width: 150px;
    margin: 0 auto;
    padding: 15px 10px;
  }
}
@media screen and (max-width: 1166px) {
  .wrapper .main__section .pampanomics .section__content .content__list {
    width: 701px;
  }
}
@media screen and (max-width: 1080px) {

  .description {
    max-width: 90vw;
  }
  .description .section__image {
    min-width: 100%;
  }
  .description .section__content {
    width: 100%;
    min-width: 0;
    padding: 24px;
  }
  .pampanomics {
    max-width: 90vw;
    width: 100%;
  }
  .pampanomics h2 {
    font-size: 1.3em;
  }
  .pampanomics .section__content {
    min-width: 100%;
  }
  .pampanomics .section__content .content__image {
    min-width: 100%;
  }
  .pampanomics .section__content .content__list {
    width: 100%;
  }
  .contract {
    max-width: 90vw;
    width: 100%;
  }
  .roadmap {
    max-width: 90vw;
  }
  .roadmap .section__content {
    width: 100%;
  }
  .roadmap .section__content .section__image {
    width: 100%;
  }
  .roadmap .section__content .section__list {
    width: 100%;
    min-width: 0;
    justify-content: center;
    align-items: center;
  }
  .roadmap .section__content .section__list .list__item {
    align-self: center !important;
    font-size: 0.65em;
  }
  .community {
    max-width: 90vw;
  }
  .community .section__title {
    font-size: 1.3em;
  }
  .community .section__list {
    width: 100%;
    justify-content: center;
  }
  .community .section__list .item__link {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 440px) {
  .pampanomics h2 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 500px) {
  .contract .content__text {
    padding: 30px;
  }
}/*# sourceMappingURL=style.css.map */